[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sacred = "*"
pulp = "*"
motmetrics = "*"
opencv-python = "*"
lapsolver = "*"
scikit-image = "*"
mmcv = "*"

[dev-packages]

[requires]
python_version = "3.7"
